h1#past, h1#upcoming {
	margin-top: 1em;
	font-size: 2em
}

	h1#past .count,
	h1#upcoming .count {
		font-weight: normal;
	}

ul.talks:empty:before {
	content: 'Loading talk list…';
	font-weight: bold;
}

ul.talks > li {
	padding: .8vh 0;
	border-bottom: 1px solid silver;
	text-indent: 0;
	list-style: none;
}

.talks > li:before {
	content:none;
}

	.talks h2,
	.talks h3,
	.talks address,
	.talks .comment {
		margin-left:130px;
	}
	
	.talks h2,
	.talks h3 {
		font-size:2em;
	}
	
	.talks h2,
	.talks h3,
	.talks p {
		margin-top:0;
		margin-bottom:0;
	}
	
	.talks h2 {
		
	}
	
		.talks h2 span.type {
			font-style: italic;
		}
		
		.talks h2 span.type:before {
			content: ' (';
		}
		
		.talks h2 span.type:after {
			content: ')';
		}
	
		.talks h2 a {
			display: inline-block;
			vertical-align: .1em;
			padding: .4em .4em .25em;
			margin-left: .5em;
			color: white;
			text-shadow: 0;
			font-size: .5em;
			line-height: 1;
			text-transform: uppercase;
			border-radius: .3em;
		}
		
		.talks h2 a.slides {
			background: #2A9FD6;
		}
		
		.talks h2 a.details {
			background: #77B300;
		}
		
		.talks h2 a.video {
			background: #93C;
		}
 		.talks h2 a.paper {
 			background: #b7d;
 		}
		.talks h2 a:hover {
			background: #f06;
			color: white;
		}
	
	.talks h3 {
		font-weight:normal;
		line-height:1.2;
		margin-bottom:.6em;
	}
	
	.talks .date {
		float:left;
		margin-top:-1.9em;
		color: #aaa;
		font-variant:small-caps;
	}
	
	.talks address,
	.talks .comment {
		font-size:1em;
		font-style:normal;
	}
	
	.talks address {
	}
	
	.talks address:before {
		display:inline-block;
		margin-right:.4em;
		vertical-align:-1px;
	}
	
	.talks .comment,
	.talks .comment a {
		color:gray;
	}
	
	.talks .comment a {
		padding: 1vh;
		text-decoration: underline;
	}
	
	.talks .comment a:before {
		content:none;
	}
