---
layout: default
title: activities
---
<article id="main">
    <header class="special style2 container">
        <h2><strong>CLUG Activities</strong></h2>
</header>

    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="http://www.cochiselinux.com/activities/WestEndFair">West End Fair [ 05/07/2016 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="http://www.cochiselinux.com/activities/WestEndFair" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>

    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="http://www.cochiselinux.com/activities/DryRunWEF">Dry Run For The West End Fair [ 04/09/2016 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="http://www.cochiselinux.com/activities/DryRunWEF" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
