---
layout: default
title: activities
---
<article id="main">
    <header class="special style2 container">
        <h2><strong>CLUG Activities</strong></h2>
</header>
    
    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="CLUG_HouseCalls_2017-11-10_and_2017-11-11">CLUG House Calls [ 11/10/2017 and 11/11/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="CLUG_HouseCalls_2017-11-10_and_2017-11-11" class="button">Read more</a></li>
                    </ul></section>
            </li>
    
    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="SierraVistaInstallfest_2017-10-28">Sierra Vista Installfest [ 10/28/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="SierraVistaInstallfest_2017-10-28" class="button">Read more</a></li>
                    </ul></section>
            </li>
    
        <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="SierraVistaRocks">Sierra Vista Rocks [ 8/18/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="SierraVistaRocks" class="button">Read more</a></li>
                    </ul></section>
            </li>
    
    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="UA_South_Install_2017-07-28">UA South Install [ 7/28/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="UA_South_Install_2017-07-28" class="button">Read more</a></li>
                    </ul></section>
            </li>

        <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="SierraVistaInstallfest_2017-07-15">InstallFest [ 7/15/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="SierraVistaInstallfest_2017-07-15" class="button">Read more</a></li>
                    </ul></section>
            </li>
            
</ul> </section> 
        <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="WestEndFair2017">West End Fair [ 05/06/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="WestEndFair2017" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
    
        <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="SierraVistaInstallfest_2017-01-28">InstallFest [ 1/28/2017 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="SierraVistaInstallfest_2017-01-28" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
    
    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="WIL">What Is Linux? Presentagtion [ 10/21/2016 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="WIL" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
    
    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="WestEndFair2016">West End Fair [ 05/07/2016 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="WestEndFair2016" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>  
    
    <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="DryRunWEF">Dry Run For The West End Fair [ 04/09/2016 ]</a></h2>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="DryRunWEF" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
