<div class="row">
    <div class="col-md-9">
        <h3>Location Of Next Event</h3>
        <iframe class="chat-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.4248048377344!2d-110.24546149999999!3d31.567396700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d728d0cde01bb5%3A0xd42f3129cd410c49!2sUniversity+of+Arizona+South!5e0!3m2!1sen!2sus!4v1438974873034" style="border:0" allowfullscreen></iframe>
        <!--<div class="well chat-container"><p>Place Holder box for iframes</p></div>-->
    </div>
    <div class="col-md-3">
        <h3>Events</h3>
        <iframe class="chat-container" src="https://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=fp9et4ecr2c131rth7ftvfua1g%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FPhoenix" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <!--<div class="well chat-container"><p>Place Holder box for iframes</p></div>-->
    </div>
</div>
