<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://www.facebook.com/groups/1059259857477393/" class="icon circle fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/CochiseLinuxUsersGroup" class="icon circle fa-github" target="_blank"><span class="label">Github</span></a></li>
        <li><a href="http://cochiselinuxusergroup.org/mailinglist/" class="icon circle fa-envelope"><span class="label">Mailing List</span></a></li>
        <li><a href="https://discord.gg/ym2hCH5FSk"><span class="label"><img src="https://www.svgrepo.com/show/452188/discord.svg" height="65" width="65"></span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Cochise Linux User Group <sup>2003-2025</sup></li>
        <li><a href="/codeofconduct">Code of Conduct</a></li></ul>
    <div align="center" class="copyright">Privacy Policy: The Cochise Linux User Group does not collect any data regarding visitors to this site, nor do we track any users of this site.</div>

</footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollgress.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
