<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://www.facebook.com/groups/1059259857477393/" class="icon circle fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/CochiseLinuxUsersGroup" class="icon circle fa-github" target="_blank"><span class="label">Github</span></a></li>
        <li><a href="http://cochiselinuxusergroup.org/mailinglist/" class="icon circle fa-envelope"><span class="label">Mailing List</span></a></li>
    </ul>
    
    <ul class="copyright">
        <li>&copy; Cochise Linux User Group <span>2003-{{ site.time | date: "%Y" }}</span></li>
        <li><a href="/codeofconduct">Code of Conduct</a></li>
        <li><a href="/sitemap.xml">Sitemap</a></li>
        <li><a href="/feed.xml">RSS</a></li>
    </ul>
    <div style="text-align:center" class="copyright"><strong>Privacy Policy</strong>: The Cochise Linux User Group does not gather any data from visitors to this website, nor do we track any users' activity on this site.</div>

</footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollgress.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
