<header id="header">
   <h1 id="logo"><div style="text-align: left"><img src="https://raw.githubusercontent.com/CochiseLinuxUsersGroup/CochiseLinuxUsersGroup.github.io/refs/heads/master/images2/new_logov2.1.png" height="120px" width="120px"/></div></h1>
   <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Calendar & Meeting Notes</a></li>
            <li><a href="/Resources">Resources</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
       </nav>
</header>
