<header id="header">
				<h1 id="logo"><a href="/">Cochise Linux User Group</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu">
							<a href="">Meetings</a>
							<ul>
								<li><a href="/blog.html">Meeting Notes</a></li>
								<li><a href="/map.html">Map / Events</a></li>
								<li><a href="/calendar.html">Calendar</a></li>
							</ul>
						</li>
                        <li><a href="/members.html">Members</a></li>
                        <li><a href="/irc.html">Web Chat</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/mailinglist.html">Contact Us</a></li>
					</ul>
				</nav>
			</header>

