<button class="btn btn-primary btn-lg btn-block padding-bottom" type="button" data-toggle="modal" data-target="#Mail-info">
  View Mailing List Info
</button>
<!-- Modal -->
<div class="modal fade" id="Mail-info" tabindex="-1" role="dialog" aria-labelledby="Mail-infoLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Mail-infoLabel">Mailing List Info</h4>
      </div>
      <div class="modal-body">
        <div class="row">
                <div class="col-md-6">
                    <p class="lead">Stay up to date with the revival of Cochise Linux User Group.
                        <br>MajB now has admin on the old 'Cochiselinux.org' mailing list.
                        <mark>Subscribe to get the latest news.</mark>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="lead">You can subscribe to the mailing list by:</p>
                    <ol>
                        <li>Sending email to <a href="mailto:cochiselinux-request@freelists.org?subject=subscribe">cochiselinux-request@freelists.org</a><b></b></li>
                        <li>Put <b>'subscribe'</b> in the Subject field. <i>You will receive an email to confirm your subscription</i></li>
                        <li>Reply to that email leaving the message body intact. <i>You will then be subscribed to the mailing list.</i></li>
                    </ol>
                </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
