<div class="container">
    <div id="contact" class="panel panel-default">
        <div class="panel-heading">
            <h5>Mailing List Info</h5></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">Stay up to date with the revival of Cochise Linux User Group.
                        <br>MajB now has admin on the old 'Cochiselinux.org' mailing list.
                        <mark>Subscribe to get the latest news.</mark>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="lead">You can subscribe to the mailing list by:</p>
                    <ol>
                        <li>Sending email to <a href="mailto:cochiselinux-request@freelists.org?subject=subscribe">cochiselinux-request@freelists.org</a><b></b></li>
                        <li>Put <b>'subscribe'</b> in the Subject field. <i>You will receive an email to confirm your subscription</i></li>
                        <li>Reply to that email leaving the message body intact. <i>You will then be subscribed to the mailing list.</i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.panel -->
</div>
