---
layout: default
title: Resources
---
<article id="main">
    <header class="special style2 container">
        <h2><strong>Resources</strong></h2>
</header>

                      <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="Inventory">Clug Inventory List</a></h2>
                List of all the items we have available to be donated for any members who want/need them. 
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="Inventory" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section> 
    
                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="PPA">Debian Based Distro PPA</a></h2>
                Clug Trusted PPA List. These Applications are used by members or known good by a member of the CLUG. 
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="PPA" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>    
    
                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://cheat.sh/">cheat.sh</a></h2>
                Online MAN Page for almost everything linux based | The only cheat sheet you need | community driven documentation
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://cheat.sh/" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
    
    
              <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://www.youtube.com/watch?v=ISJ44S5sZu8">Filesystem Explained</a></h2>
                [Youtube] Linux File System Structure Explained: From / to /usr
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://www.youtube.com/watch?v=ISJ44S5sZu8" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section> 


                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://www.youtube.com/watch?v=bju_FdCo42w&list=PLtK75qxsQaMLZSo7KL-PmiRarU7hrpnwK">Linux Sysadmin Basics -- Course Introduction (Updated for 2024)</a></h2>
                [Youtube] Linux Sysadmin Basics -- Course Introduction (Updated for 2024)
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://www.youtube.com/watch?v=bju_FdCo42w&list=PLtK75qxsQaMLZSo7KL-PmiRarU7hrpnwK" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section> 


                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://wiki.archlinux.org/title/Main_page">Arch Wiki</a></h2>
                Wiki for a multitude of problems for many different hardware and software issues.. not just for Arch like the name may make it seem.
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://wiki.archlinux.org/title/Main_page" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section> 
    

                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://www.youtube.com/learnlinuxtv">LearnLinuxTV</a></h2>
               Youtube Channel Dedicated to Linux Learning and just Linux Content
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://www.youtube.com/learnlinuxtv" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>


                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://www.youtube.com/@DistroTube">DistroTube</a></h2>
               Youtube Channel Dedicated to Linux Distro Reviews | Linux App Reviews and Assorted Linux Content
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://www.youtube.com/@DistroTube" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>    
    
                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="https://www.freelists.org/archive/cochiselinux">CLUG Mailing List Archive</a></h2>
               Archive of all past e-mails sent via members through the mailing list to help with past problems.
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="https://www.freelists.org/archive/cochiselinux" class="button" target="_blank">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section> 


    
    
              <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="/projects">Site Code and Presentations</a></h2>
                Websites Source Code as well as any presentation file (s) uploaded by users after their presentation at the local meetings.
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="/projects" class="button">Read more</a></li>
                    </ul></section>
