---
layout: default
title: Resources
---
<article id="main">
    <header class="special style2 container">
        <h2><strong>Resources</strong></h2>
</header>

                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="PPA">Debian Based Distro PPAs</a></h2>
                Clug Approved PPA List. These Applications are all used by members daily or known good by a member of the CLUG. 
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="PPA" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>    
    
                  <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="Filesystem">File Hierarchy Structure</a></h2>
                The Linux File Hierarchy Structure or the Filesystem Hierarchy Standard (FHS) defines the directory structure and directory contents in Unix-like operating systems.It is maintained by the Linux Foundation.
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="Filesystem" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section>
    
    
              <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="cheatsheet">CLI Cheat Sheet</a></h2>
                Some simple CLI commands collected by Users and ones we found may be handy to have around
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="cheatsheet" class="button">Read more</a></li>
                    </ul></section>
            </li>
</ul> </section> 
    
    
              <section class="wrapper style1 container">
        <ul class="posts">
            <li class="wrapper {% if forloop.first %} style2 {% else %} style2 {% endif %}">
              <h2><a href="/projects">Site Code and Presentations</a></h2>
                Websites Source Code as well as any presentation file (s) uploaded by users after their presentation at the local meetings.
                <br><br>
                <section class="special">
                    <ul class="buttons">
                        <li><a href="/projects" class="button">Read more</a></li>
                    </ul></section>
